@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-lg;
  }
  /* ... */
}

body {
  font-family: "Noto Sans", sans-serif;
  @apply bg-gray-100;
}

#app {
  max-width: 980px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
